<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CNPM.Properties.Settings.ConnectionString" connectionString="Driver={Microsoft Access dBASE Driver (*.dbf, *.ndx, *.mdx)};collatingsequence=ASCII;defaultdir=D:\KY5\CNPM\CNPM;deleted=1;driverid=533;fil=dBASE 5.0;filedsn=C:\Users\Admin\OneDrive\Tài liệu\Cuahangdaquy.dsn;maxbuffersize=2048;maxscanrows=8;pagetimeout=600;safetransactions=0;statistics=0;threads=3;uid=admin;usercommitsync=Yes"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>